/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
  z-index: 1;
  position: relative;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  overflow: hidden;
}

.placeSearch{
  position: absolute;
  z-index: 2;
  width:100%;
  margin-top: 2%;
}

.placeListing{
  position: absolute;
  z-index: 2;
  width:100%;
  background-color: white;
  bottom: 0;
  height: 30vh;
  overflow-y: scroll;
}
